version: 2.1

jobs:
  build:
    docker:
      - image: cimg/rust:1.83.0
    steps:
      - checkout
      - run: cargo fmt -- --check
      - restore_cache:
          key: cargo-cache
      - run: cargo clippy
      - run: cargo test
      - save_cache:
          key: cargo-cache
          paths:
            - "~/.cargo"
